@import '../../assets/sass/variables.scss';

.bgLightBlue {
    background-color: $theme-light-blue;
}

.bgCard {
    background-color: white;
    width: 332px;
}

.textFlockGen {
    color: #464646;
    font-weight: $font-weight-bold;
    font-size: 1rem;
    letter-spacing: 0.05em;
}

.textDate {
    color: #888888;
    font-size: 0.5rem;
    font-weight: $font-weight-regular;
    letter-spacing: 0.05em;
}

.containerDay {
    background-color: #2e86ab;
    border-radius: 4px;
}

.containerGender {
    background-color: #307fff;
    border-radius: 4px;
}

.containerType {
    background-color: #3aafae;
    border-radius: 4px;
}

.textContainer {
    color: #ffffff;
    margin: 0;
    font-size: 0.5rem;
    font-weight: $font-weight-regular;
}

.textDetail {
    color: #666666;
    font-size: 0.75rem;
    font-weight: $font-weight-regular;
    margin: 0;
}
