@import '../../assets/sass/variables.scss';

.bgLightBlue {
    background-color: $theme-light-blue;
}

.textLabel {
    color: #828282;
    font-size: 1rem;
    font-weight: $font-weight-medium;
}

.textValue {
    color: black;
    font-size: 1rem;
    font-weight: $font-weight-medium;
    line-height: 22px;
}
