@import "../../assets/sass/variables.scss";

.bgLightBlue {
    background-color: $theme-light-blue;
}

.infoToShow{
    margin-left: 1rem;
    width: 350px;
    color: #666666;
}

.textInfo{
    margin-bottom: 1.5rem;
}