@import '../../assets/sass/variables.scss';

.bgHouse {
    background-color: $theme-yellow-color;
    min-height: 23px;
    border-radius: 8px;
    width: 84px;
}

.textHouse {
    color: #171717;
    font-size: 0.75rem;
    width: fit-content;
}

.textImage {
    width: 24px;
    padding-right: 2px;
    flex-shrink: 1;
}

.bgCard {
    background-color: white;
    min-height: 217px;
    border-radius: 8px;
}

.textRecord {
    font-weight: $font-weight-medium;
    font-size: 3.75rem;
    color: #3aafae;
}

.textIrregular {
    font-weight: $font-weight-medium;
    font-size: 3.75rem;
    color: #ff4d6b;
}

.textUnit {
    font-weight: $font-weight-light;
    font-size: 0.5rem;
    color: #393e41;
}

.textPercent {
    font-weight: $font-weight-medium;
    font-size: 0.5rem;
    color: #777575;
}

.textMeasure {
    font-weight: $font-weight-bold;
    font-size: 85%;
    color: #393e41;
}

.textSensor {
    font-weight: $font-weight-medium;
    font-size: 0.5rem;
    color: #979797;
}
