@import "../../assets/sass/variables.scss";

.username{
    margin-top: 1.5rem;
}

.showDropdown{
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.dropdown{
    margin-bottom: 1.5rem;
}

.btnCreate{
    background-color: $theme-yellow-color;
    width: 173px;
    height: 40px;
    color: white;
}