@import '../../assets/sass/variables.scss';

.bgLightBlue {
    background-color: $theme-light-blue;
}

.textFormLabel {
    color: #828282;
    font-size: 1rem;
    font-weight: $font-weight-regular;
}

::placeholder {
    font-size: 0.875rem;
    font-weight: $font-weight-light;
    color: #bdbdbd;
}

:global {
    .form-control {
        font-size: 0.875rem;
        font-weight: $font-weight-light;
        color: #bdbdbd;
    }
    option {
        color: black;
    }
}
