// Theme Color
$theme-blue-color: #09adfd;
$theme-yellow-color: #fece47;
$theme-blug-green-color: #2e86ab;

// Font Families
$font-family-kanit: "Kanit", sans-serif;

// Font Weight
$font-weight-book: 100;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 600;

// Font Style
$font-style-italic: italic;
