// Theme Color
$theme-blue-color: #09adfd;
$theme-yellow-color: #fece47;
$theme-red-color: #ff4d6b;
$theme-bg-color: #f7f9fb;
$theme-blue-green-color: #2e86ab;
$theme-light-blue: #f7f9fb;

// Font Families
$font-family-kanit: 'Kanit', sans-serif;

// Font Weight
$font-weight-book: 100;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 600;

// Font Style
$font-style-italic: italic;
